<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th
            (click)="startSort(column.key)"
            *ngFor="let column of columns "
          >
            <i
              *ngIf="column.key === sortKey && sortDirection === -1"
              class="fa fa-sort-amount-desc"
            ></i>
            {{ column.title }}
            <i
              *ngIf="column.key === sortKey && sortDirection === 1"
              class="fa fa-sort-amount-asc"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of listers | sorter : sortKey : sortDirection">
          <td *ngFor="let column of columns">
            {{ row[column.key] }}
          </td>
          <td>
            <div (click)="raiseEdit(row)" class="btn-group">
              <button class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="raiseDelete(row)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
