<h1 class="col-3 p-4">Statistics</h1>

<div class="row mt-5">
  <div class="col-md-6 col-lg-3 col-sm-12 d-flex justify-content-center my-3">
    <div class="card mb-2" style="width: 16rem">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of Active Customers</h5>
        <a href="#" class="btn btn-success mt-4"
          >{{ activeCustomers.length }} pieces</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 d-flex justify-content-center my-3">
    <div class="card mb-2" style="width: 16rem">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of Active Products</h5>
        <a href="#" class="btn btn-success mt-4"
          >{{ activeProducts.length }} pieces</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 d-flex justify-content-center my-3">
    <div class="card mb-2" style="width: 16rem">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of not paid Orders</h5>
        <a href="#" class="btn btn-success mt-4"
          >{{ statusOrders.length }} pieces</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 d-flex justify-content-center my-3">
    <div class="card mb-2" style="width: 16rem">
      <div class="card-body">
        <h5 class="card-title mb-2">Amount of not paid Bills</h5>
        <a href="#" class="btn btn-success mt-4">
          {{ getUnpaidAmount() | currency : "USD" }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 d-flex justify-content-around mt-5 row mx-auto">
    <h5 class="mt-3 mb-3">Order status statistics</h5>
    <div
      id="chart"
      class="chart"
      style="background-color: rgb(217, 230, 230); border-radius: 5px"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
  </div>

  <div class="col-lg-6 d-flex justify-content-around mt-5 row mx-auto">
    <h5 class="mt-3 mb-3">Bill status statistics</h5>
    <div
      id="bill"
      class="bill container col-12"
      style="background-color: rgb(217, 230, 230); border-radius: 5px"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
  </div>
</div>
