

    <div class="card mb-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of Active Customers</h5>
        <a href="#" class="btn btn-success mt-4">{{ activeCustomers.length }} pieces</a>
      </div>
    </div>

    <div class="card" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of Active Products</h5>
        <a href="#" class="btn btn-success mt-4">{{ activeProducts.length }} pieces</a>
      </div>
    </div>

