<h1 class="mt-2">Dashboard</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-5">

  <div class="col">
    <div class="card mb-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of Active Customers</h5>
        <a href="#" class="btn btn-success mt-4">{{ activeCustomers.length }} pieces</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of Active Products</h5>
        <a href="#" class="btn btn-success mt-4">{{ activeProducts.length }} pieces</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title mb-2">Number of not paid Orders</h5>
        <a href="#" class="btn btn-success mt-4">{{ pendingOrders.length }} pieces</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title mb-2">Amount of not paid Bills</h5>
        <a href="#" class="btn btn-success mt-4"> xx </a>
      </div>
    </div>
  </div>
</div>








