
<div >

  <h1 class="col-3 p-4">Products List</h1>

  <button class="btn bg-gradient-success col-12 shadow-success" [routerLink]="['/edit-product', 0]"> + New Product </button>

  <div class="row me-3">
    <div *ngIf="productList$ | async as productList" class="col-12">
      <app-data-table
      [listers]="productList"
      [columns]="columns"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
  >
      </app-data-table>
    </div>
  </div>
</div>


<!-- <pre>{{productList$ | async | json}}</pre> -->
